# WorkOS API KEYS
WORKOS_CLIENT_ID=
WORKOS_API_KEY=
WORKOS_COOKIE_PASSWORD=""
NEXT_PUBLIC_WORKOS_REDIRECT_URI=""


# Raindrop Backend AI Brain
RAINDROP_BACKEND_URL=""
RAINDROP_API_KEY=

# MONGODB
MONGODB_URI=""