# -----------------------
# WorkOS API Keys
# -----------------------
WORKOS_CLIENT_ID=
WORKOS_API_KEY=
WORKOS_COOKIE_PASSWORD=
NEXT_PUBLIC_WORKOS_REDIRECT_URI=

# -----------------------
# Raindrop Backend AI
# -----------------------
RAINDROP_BACKEND_URL=
RAINDROP_API_KEY=

# -----------------------
# MongoDB
# -----------------------
MONGODB_URI=

# -----------------------
# Stripe
# -----------------------
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

STRIPE_STARTER_PRICE_ID=
STRIPE_PRO_PRICE_ID=
STRIPE_POWER_PRICE_ID=

# -----------------------
# App
# -----------------------
NEXT_PUBLIC_APP_URL=
